.DS_Store
*~
height*.txt
old_faithful.txt
flower.png
*.gz
t10k-*
train-*
deeplearning/data/*
*.csv
*.png

dataanalyze100/pyvenv.cfg
dataanalyze100/data/*
dataanalyze100/bin
dataanalyze100/include
dataanalyze100/lib
dataanalyze100/lib64
dataanalyze100/share




