.DS_Store
*~
height*.txt
old_faithful.txt
flower.png
*.gz
t10k-*
train-*
deeplearning/data/*
*.csv
*.png
*.bmp
*.xlsx
.env
*.pub
*.pri
*.vbs
*.rst
*.exe
*.spec
cain.txt
*.pth
*.zip
*.tsv

*/bin
*/include
*/lib
*/lib64
*/__pycache__
*/pyvenv.cfg
*/share
*/tmp
*/*/__pycache__
*/Lib
*/Include
*/Scripts
*/dist
*/temp
*/build
*/etc
*/.ipynb_checkpoints/*
*/data

*/*.lock
*/.venv
*/.python-version

*/*/bin
*/*/lib
*/*/include
*/*/lib64
*/*/__pycache__
*/*/pyvenv.cfg

*/pyvenv.cfg

dataanalyze100/data/*

cosmosdb/config.py

langchain/data
langchain/langchain
langchain/tmpgitdata

llm/*.txt
llm/*.pdf
llm/gpt2/*
llm/instruction-data.json

Quantum/qc_workbook/*

mcptest/README.md




