.DS_Store
*~
height*.txt
old_faithful.txt
flower.png
*.gz
t10k-*
train-*
deeplearning/data/*
*.csv
*.png
*.xlsx
.env

dataanalyze100/pyvenv.cfg
dataanalyze100/data/*
dataanalyze100/bin
dataanalyze100/include
dataanalyze100/lib
dataanalyze100/lib64
dataanalyze100/share

AzureOpenAI1/bin
AzureOpenAI1/lib
AzureOpenAI1/lib64
AzureOpenAI1/include
AzureOpenAI1/pyvenv.cfg

cosmosdb/bin
cosmosdb/lib
cosmosdb/lib64
cosmosdb/include
cosmosdb/pyvenv.cfg
cosmosdb/config.py
cosmosdb/__pycache__

claude-env/bin
claude-env/include
claude-env/lib
claude-env/lib64
claude-env/__pycache__
claude-env/pyvenv.cfg

*/bin
*/include
*/lib
*/lib64
*/__pycache__
*/pyvenv.cfg
*/share
*/tmp

langchain/data







